@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to .NET/Linux!</h1>
    <p>Learn about <a href="https://www.dotnetlinux.org/">running apps under .NET/Linux</a>.</p>
</div>
